@import 'styles/shared/mixins.scss';
@import 'styles/shared/colors.scss';
@import 'styles/shared/sizes/constants.scss';

.app-footer {
  @include flex-center-content;

  height: $app-footer-height;

  background-color: $pink-floyd;

  &__github-link {
    font-size: 1.75rem;
  }
}
