$incognito-mode: #2c2c2c;
$mistress-night: #28324b;
$purple-haze: #3a0c2b;
$green-day: #79c331;
$blue-world: #5b8ed8;
$react-blue: #61dbfb;
$rust: #de5225;
$under-the-sun: #ffd34b;
$pink-floyd: #fae3e3;
