@import './app.scss';

@import './components/app-header.scss';
@import './components/game-view/game-view.scss';
@import './components/game-view/game-field.scss';
@import './components/game-view/terminal.scss';
@import './components/main-menu.scss';
@import './components/game-over-message.scss';
@import './components/loading.scss';
@import './components/app-footer.scss';
