@import 'styles/shared/colors.scss';
@import 'styles/shared/mixins.scss';

$game-field-cell-size: 2vw;
$game-field-cell-gap: calc(#{$game-field-cell-size} / 4);

.opponent-game-field-wrapper {
  display: none;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &--active {
    display: block;

    transform: translateX(0);
  }
}

.game-field {
  $game-field-self: &;

  font-family: 'Swanky and Moo Moo', Calibri, sans-serif;
  font-size: calc(#{$game-field-cell-size} / 2);

  .game-field-x-axis {
    display: flex;

    &__cell {
      @include flex-center-content;

      height: $game-field-cell-size;
      width: $game-field-cell-size;

      &:not(:first-child) {
        margin-left: $game-field-cell-gap;
      }
    }
  }

  .game-field-row {
    display: flex;

    #{$game-field-self}__cell {
      @include flex-center-content;

      height: $game-field-cell-size;
      width: $game-field-cell-size;

      background-color: $react-blue;
      border-radius: 5px;

      &:not(:first-child) {
        margin-left: $game-field-cell-gap;
      }

      .building {
        @include flex-center-content;

        height: $game-field-cell-size;
        width: $game-field-cell-size;

        border-radius: 5px;

        &--count-castle {
          @extend .building;

          color: whitesmoke;

          background-color: $mistress-night;
        }
      }
    }

    &:not(:first-child) {
      margin-top: $game-field-cell-gap;
    }

    .game-field-y-axis__cell {
      @include flex-center-content;

      height: $game-field-cell-size;
      width: $game-field-cell-size;
    }
  }
}
